//colors
$color-white: #fff;
$color-black: #000;
$color-gray: #EEEEEE;
$color-blue:  #071AC3;
$color-red:  #ff3300;
$color-gray-text: #212121;
$color-gray-light-text: #757575;
$color-gray-border-light: #BDBDBD;
$color-gray-border-dark: #424242;

//font-size
$font-xs: 10px;
$font-s: 12px;
$font-m: 14px;
$font-l: 16px;
$font-ll: 24px;
$font-xl: 34px;

//media
$mobile: 500px;
$tablet: 768px;
$desktop: 1180px;

//margin
$margin-sx: 8px;
$margin-s: 20px;
$margin-m: 24px;
$margin-l: 35px;